<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from wpkixx.com/html/pitnik/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Aug 2020 13:53:18 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>{{title}}</title>
    <link rel="icon" href="/images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="/css/main.min.css">
	<link rel="stylesheet" href="/css/weather-icons.min.css">
	<link rel="stylesheet" href="/css/toast-notification.css">
	<link rel="stylesheet" href="/css/page-tour.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
	 {{{body}}}
<script src="/js/main.min.js"></script>
	<script src="/js/jquery-stories.js"></script>
	<script src="/js/toast-notificatons.js"></script>
	<script src="/../../../cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script><!-- For timeline slide show -->
	<script src="/https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script><!-- for location picker map -->
	<script src="/js/locationpicker.jquery.js"></script><!-- for loaction picker map -->
	<script src="/js/map-init.js"></script><!-- map initilasition -->
	<script src="/js/page-tourintro.js"></script>
	<script src="/js/page-tour-init.js"></script>
	
	<script src="/js/script.js"></script>
	<script>
    </body>
    </html>
    
           